<!doctype html>
<html lang="en">

<head>  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">   
</head>

<body id="top-header">
    <!-- LOADER TEMPLATE -->
    <div id="page-loader">
        <div class="loader-icon fa fa-spin colored-border"></div>
    </div>

   <router-outlet></router-outlet>
   
  
   <footer class="section " id="footer">
  <div class="overlay footer-overlay"></div>
  <!--Content -->
  <div class="container">
      <div class="row justify-content-start">
          <div class="col-lg-4 col-sm-12">
              <div class="footer-widget">
                  <!-- Brand -->
                  <a href="#" class="footer-brand text-white">
                      Rapoo
                  </a>
                  <p>Each theme featured at the Bootstrap marketplace has been reviewed by Bootstrap's creators.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
          </div>

          <div class="col-lg-3 ml-lg-auto col-sm-12">
              <div class="footer-widget">
                  <h3>Account</h3>
                  <!-- Links -->
                  <ul class="footer-links ">
                      <li>
                          <a href="#">
                              Terms and conditions
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Privacy policy
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Affiliate services
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Help and support
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Frequently Asked Question
                          </a>
                      </li>
                  </ul>
              </div>
          </div>


          <div class="col-lg-2 col-sm-6">
              <div class="footer-widget">
                  <h3>About</h3>
                  <!-- Links -->
                  <ul class="footer-links ">
                      <li>
                          <a routerLink="/services">
                              Services
                          </a>
                      </li>
                      <li>
                          <a routerLink="/about">
                              About Us
                          </a>
                      </li>
                      <li>
                          <a routerLink="/pricing">
                              Pricing
                          </a>
                      </li>
                      <li>
                          <a href="#">
                              Products Shop
                          </a>
                      </li>

                      <li>
                          <a routerLink="/contact">
                              Contact
                          </a>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-2 col-sm-6">
              <div class="footer-widget">
                  <h3>Socials</h3>
                  <!-- Links -->
                  <ul class="list-unstyled footer-links">
                      <li><a href="#"><i class="fa fa-facebook-f"></i>Facebook</a></li>
                      <li>
                      <a href="#"><i class="fa fa-twitter"></i>Twitter
                      </a></li>
                      <li><a href="#"><i class="fa fa-pinterest-p"></i>Pinterest
                      </a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i>linkedin
                      </a></li>
                      <li><a href="#"><i class="fa fa-youtube"></i>YouTube
                      </a></li>
                  </ul>
              </div>
          </div>
      </div> <!-- / .row -->


      <div class="row text-right pt-5">
          <div class="col-lg-12">
              <!-- Copyright -->
              <p class="footer-copy ">
                  &copy; Copyright <span class="current-year">Themefisher</span> All rights reserved.
              </p>
          </div>
      </div> <!-- / .row -->
  </div> <!-- / .container -->
   </footer>


    <!--  Page Scroll to Top  -->
    
    <a class="scroll-to-top js-scroll-trigger" routerLink="/home">
        <i class="fa fa-angle-up"></i>
    </a>


    
  </body>
</html>


